---
layout: default
title: Home
---

{% for post in site.posts limit:15 %}

{% if post.deprecated != true %}
<div class="home-post">

    <a class="title" href="{{site.url}}{{post.url}}">{{ post.title }}</a>

    {% capture category %}{{ post.category }}{% endcapture %}
    <h3 class="date">{{ post.date | date_to_string }}, <a href="{{ site.url }}/categories/#{{category | capitalize }}">{{ category
        }}</a></h3>

</div>
{% endif %}
{% endfor %}

{% if site.posts.size > 14 %}
<div class="all-posts">
    Want to read more? There are {{site.posts.size}} articles in the <a title="Archive" href="{{site.url}}/archive">archive</a>
</div>
{% endif %}
