<div class="display-area sidebar-margin subscribe">
    <h4>Get latest articles in your mail box</h4>

    <div class="form">

        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
              onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Multixlab', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <input type="text" name="email" id="email" placeholder="Enter your email address"/>
            <input type="hidden" value="Multixlab" name="uri"/>
            <input type="hidden" name="loc" value="en_US"/>
            <input type="submit" value="Subscribe" class="submit-button"/>
        </form>

        <p><a href="https://feeds.feedburner.com/Multixlab"><img src="https://feeds.feedburner.com/~fc/Multixlab?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
    </div>
</div>