.stack-profile {
  background-color: #cccccc;

  @media (max-width: $medium-breakpoint) {
    background-color: inherit;
  }

  img {
    margin: auto;
    display: block;
  }
}

.about {

  @media (max-width: $small-breakpoint) {
    margin-top: 1rem;
  }

  h2 {
    margin: 1rem 0;
  }
}