$post-margin: 1.5rem;

.post {

  margin-bottom: $post-margin;
  border-bottom: 1px solid $border-color;

  .date {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    display: inline-block;
    border-bottom: 1px solid $border-color;
  }

  .title {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .more {
    color: blue;
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: $post-margin;
    background-color: $border-color;
  }

  p {
    margin-bottom: 1rem;
  }

}