
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Bitter', sans-serif;
}

body {
  margin: auto;
  word-spacing: 2px;
  color: $color-primary;
  background: $color-page;
  line-height: $line-height;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font: 0.9em/1.692307em;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: $weight-medium;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    color: $color-hover;
  }
}


/*
  Container for all top body content except footer.
  Footer is maintained on the bottom based on this
  container.
 */
.container {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

/*
  Area where content of the page is displayed.
 */
.content {
  margin: auto;
  width: $content-width;
  max-width: $content-width-max;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  margin: auto;
}

.display-area {
  margin: auto;
  padding: $column-spacing * 2;
  border: 1px solid $color-border;
  background-color: $color-display-background;
}

pre {
  overflow: auto;
}

.sidebar-margin {
  margin-bottom: $column-spacing * 2;
}

.sidebar-title {
  margin-bottom: 1rem;
}

.highlight {
  padding: 0.8rem;
  background-color: $color-code-highlight;
}

blockquote {
  margin: 2rem;
  padding: 0 0.5em;
  font-style: italic;
  border-left: 5px solid #8ab3b5;
}


.equal-box {
  display: flex;
  justify-content: center;
}

@media (max-width: $medium-breakpoint) {

  .content {
    width: $content-width-medium;
  }

}

@media (min-width: $large-breakpoint) {

  .content {
    width: $content-width-large;
  }

}