
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: auto;
  line-height: 1.65;
  color: $primary-color;
  background: $page-color;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: $hover-color;
}

/*
  Container for all top body content except footer.
  Footer is maintained on the bottom based on this
  container.
 */
.container {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

/*
  Area where content of the page is displayed.
 */
.content {
  margin: auto;
  width: $content-width;
  max-width: $content-width-max;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  margin: auto;
}

.left {
  width: 70%;

  .spacing {
    padding-right: $column-spacing;
  }

}

.right {
  width: 30%;

  .spacing {
    padding-left: $column-spacing;
  }
}

.display-area {
  margin: auto;
  padding: $column-spacing * 2;
  border: 1px solid $border-color;
  background-color: $content-background-color;
}

@media (max-width: $medium-breakpoint) {

  .right,
  .left {
    width: 100%;
    margin-bottom: 1rem;

    .spacing {
      padding: 0;
    }
  }
}

@media (max-width: $large-breakpoint) {
  .content {
    width: $content-width-small;
  }
}

@media (max-width: $medium-breakpoint) {
  header {
    height: auto;
    margin-bottom: $header-margin-bottom-small;
  }
}