
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: auto;
  color: #323f4b;
  line-height: 1.65;
  background: #f0f0f0;
}

body, html {
  height: 100%;
}


.noselect {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: $hover-color;
}


.page-width {
  margin: auto;
  width: $page-width;
}

.container {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.content {
  margin: auto;
  width: $content-width;
  max-width: $max-content-width;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

/*
.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
*/


.column {
  float: left;
  margin: auto;
}

.left {
  width: 70%;

  .spacing {
    padding-right: $column-spacing;
  }

}

.right {
  width: 30%;

  .spacing {
    padding-left: $column-spacing;
  }
}

.display-area {
  margin: auto;
  padding: $column-spacing * 2;
  border: 1px solid $border-color;
  background-color: $content-background;
}

@media (max-width: $medium-breakpoint) {

  .right,
  .left {
    width: 100%;
    margin-bottom: 1rem;

    .spacing {
      padding: 0;
    }
  }
}

@media (max-width: $large-breakpoint) {
  .content {
    width: $content-width-small;
  }
}

@media (max-width: $medium-breakpoint) {
  header {
    height: auto;
    margin-bottom: $header-margin-bottom-small;
  }
}