.side-category {

  a {
    display: block;
    margin: 0.5rem 1rem;
    color: $color-blue;

    &:visited {
      color: $color-blue;
    }

    &:hover {
      color: $color-hover;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.categories {
  margin: 0 $display-inside-margin;

  @media (max-width: $small-breakpoint) {
    margin: 0;
  }
}