.side-category {

  a {
    display: block;
    margin: 0.5rem 1rem;
    color: $color-blue;

    &:visited {
      color: $color-blue;
    }

    &:hover {
      color: $color-hover;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}


@media (max-width: $small-breakpoint) {
  .tags {
    margin-top: 1rem;
  }

  .categories {
    margin-top: 1rem;
  }

}

