
$color-primary: #323f4b;
$color-secondary: #8c9297;
$color-subtitle: #7b7b7b;

$color-page: #f8f8f8;
//$color-page: #f0f0f0;
$color-hover: #ce125a;
$color-logo: #1c4705f2;

$color-border: #dfdfdf;
$color-display-background: #fffffff2;
