.footer {
  clear: both;
  display: flex;
  overflow: auto;
  position: relative;
  text-align: center;
  align-content: center;
  height: $footer-height;
  margin-top: -$footer-height;
  font-weight: $weight-medium;

  @media (max-width: $small-breakpoint) {
    background-color: $color-page;
  }

}