
.all-posts {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: $color-page;

  a,
  a:visited {
    color: $color-hover;
  }
}

.home-post {

  $margin-bottom: 2.3rem;

  margin-bottom: $margin-bottom;

  .title {
    display: block;
    font-size: 1.5em;
    color: $color-primary;
    font-weight: $weight-medium;
  }

  .title:hover {
    color: $color-hover;
  }

  .date,
  .date a {
    font-size: 0.9rem;
    display: inline-block;
    color: $color-subtitle;
    font-weight: $weight-medium;
  }

  .date {
    a:visited {
      color: $color-subtitle;
    }

    a:hover,
    a:visited:hover {
      color: $color-hover;
    }
  }

  p {
    margin-top: $margin-bottom * 0.7;
    margin-bottom: $margin-bottom;
  }

  &:last-child {
    border: none;
    margin-bottom: 0;

    .date {
      margin-bottom: 0;
    }
  }

  @media (max-width: $small-breakpoint) {
    &:first-child {
      margin-top: $margin-bottom * 0.7;
    }
  }
}

