
.left {
  width: 70%;

  .spacing {
    padding-right: $column-spacing;
  }

}

.right {
  width: 30%;

  .spacing {
    padding-left: $column-spacing;
  }
}


@media (max-width: $medium-breakpoint) {

  .right,
  .left {
    width: 100%;

    .spacing {
      padding: 0;
    }
  }

  .left {
    margin-bottom: 1rem;
  }
  .right {
    margin-bottom: 0;
  }
}

.home-post {

  $post-margin: 1.2rem;

  margin-bottom: $post-margin;
  border-bottom: 1px solid $color-border;

  .title {
    display: block;
    font-size: 1.5em;
    color: $color-primary;
    font-weight: $weight-medium;
  }

  .title:hover {
    color: $color-hover;
  }

  .date {
    font-size: 0.9rem;
    display: inline-block;
    color: $color-subtitle;
    margin-bottom: $post-margin;
    font-weight: $weight-medium;
  }

  p {
    margin-top: $post-margin * 0.7;
    margin-bottom: $post-margin;
  }

}

.home-post:last-child {
  border: none;
}
