
.all-posts {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: $color-page;

  a,
  a:visited{
    color: $color-hover;
  }
}

.home-post {

  $margin-bottom: 1.2rem;

  margin-bottom: $margin-bottom;
  border-bottom: 1px solid $color-border;

  .title {
    display: block;
    font-size: 1.5em;
    color: $color-primary;
    font-weight: $weight-medium;
  }

  .title:hover {
    color: $color-hover;
  }

  .date {
    font-size: 0.9rem;
    display: inline-block;
    color: $color-subtitle;
    margin-bottom: $margin-bottom;
    font-weight: $weight-medium;
  }

  p {
    margin-top: $margin-bottom * 0.7;
    margin-bottom: $margin-bottom;
  }

  &:last-child {
    border: none;
    margin-bottom: 0;

    .date {
      margin-bottom: 0;
    }
  }

}

