.social {

  a,
  a:visited {
    width: 30px;
    padding: 4px 6px;
    margin: 0 5px;
    text-align: center;
    color: $color-blue;
    display: inline-block;
    border: 1px solid $color-border;
  }

  a:hover {
    color: white;
    transition: 0.7s;
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.social-bar {
  margin-top: 1.5rem;

  @media (min-width: $large-breakpoint) {
    display: none;
  }
}

.social-sidebar {
  display: none;

  @media (min-width: $large-breakpoint) {
    display: block;
  }

}