.subscribe {

  h4 {
    margin-bottom: 1rem;
  }

  .link {
    padding: 0 5px;
    display: block;
    margin-top: 1rem;
    text-align: center;
    border: 1px solid $color-border;

    &:hover,
    &:visited:hover {
      color: $color-hover;
    }
  }


  .message {
    text-align: center;
    font-size: 0.7rem;
  }

  a,
  a:visited {
    color: $color-blue;
  }
}