.subscribe {

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  input {
    width: 100%;
    padding: 5px;
    display: block;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto auto 1rem;
    -webkit-border-radius: 2px;
    border: 1px solid $color-border;
  }

  input[type=submit] {
    width: 100%;
    display: block;
    border: 0 none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: $color-primary;

    &:hover {
      transition: 1s;
      background: #ccc;
      color: $color-primary;
    }
  }


  .message {
    text-align: center;
    font-size: 0.7rem;
  }

  a,
  a:visited {
    color: $color-blue;
  }
}