.tags {

  margin: 0 $display-inside-margin;

  li {
    margin: 0.3rem;
    padding: 0.2rem 0.4rem;
    display: inline-block;
    border: 1px solid $color-border;
  }

  a,
  a:visited {
    color: $color-link;
  }

  a:hover {
    color: $color-hover;
  }
}