/* commons */

$weight-medium: 500;
$line-height: 1.65;

$small-breakpoint: 600px;
$medium-breakpoint: 800px;
$large-breakpoint: 1200px;


/* page */

$content-width: 95%;
$content-width-max: 960px;
$content-width-medium: 98%;
$content-width-large: 75%;

/* column */

$column-spacing: 0.8rem;

/* footer */

$footer-height: 120px;

/* header  */

$header-height: 7rem;
$header-content-padding: 1.5rem;

