/* commons */

$weight-medium: 500;

$small-breakpoint: 600px;
$medium-breakpoint: 800px;
$large-breakpoint: 1200px;

/* page */

$content-width: 75%;
$content-width-small: 98%;
$content-width-max: 960px;

/* column */

$column-spacing: 0.6rem;

/* footer */

$footer-height: 60px;

/* header  */

$header-height: 6rem;
$header-content-padding: 1.5rem;
