/* commons */

$weight-medium: 500;

$small-breakpoint: 600px;
$medium-breakpoint: 800px;
$large-breakpoint: 1200px;

$page-width: 100%;

$content-width: 75%;
$content-width-small: 98%;
$max-content-width: 960px;

$border-color: #dfdfdf;
$column-spacing: 0.6rem;
$content-background: #fffffff2;

/* footer variables*/
$footer-height: 60px;

/* header variables */

$header-height: 6rem;
$header-content-padding: 1.5rem;

$header-text-color: #323f4b;
$header-font: 'Share Tech Mono';

$header-background: #fff;
$header-background-overlay: #fff;
$header-margin-bottom: 0;
$header-margin-bottom-small: 0;



