{% include header.html %}


<div class="column left">
    <article class="spacing">

        <div class="display-area">
            <div class="categories">
                {% for category in site.categories %}
                <h2 id="{{ category | first | capitalize }}">{{ category | first | capitalize }}</h2>
                {% for posts in category %}
                {% for post in posts %}
                {% if post.project == null and post.title %}

                <ul class="posts">
                    <li>
                        <a title="{{ post.date | date_to_string }}" href="{{ site.url }}{{ post.url }}">
                            {{ post.title }}&nbsp;<span class="post-date">—&nbsp;{{ post.date | date_to_string }}</span> </a>
                    </li>

                </ul>


                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </div>

        </div>

    </article>
</div>

<div class="column right">
    <aside class="spacing">


        {% include social.html %}

        {% include subscribe.html %}

        {% include categories.html %}


    </aside>

</div>


{% include footer.html %}
