<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />

    <title>Home</title>
</head>

<body>

    <header>

        <div class="content">
            <a class="logo noselect" href="/">multixlab</a>

            {% include nav.html %}
        </div>

    </header>

    <section>

        <aside class="column left blue">
            <div class="content">
               
            </div>
        </aside>

        <article id="content" class="column middle red">
            {{ content }}
        </article>

        <aside class="column right blue">
            <div class="content">
              
            </div>
        </aside>


    </section>

    <footer class="blue">
        
    </footer>


</body>

</html>