{% include header.html %}

<div class="column left ">
    <article class="spacing">

        <div class="display-area">

            <div class="post">
                <h1>{{ page.title }}</h1>
                <div class="meta">{{ page.date | date_to_string }},
                    <a title="Category" href="{{ site.url }}/categories/#{{ page.category | capitalize }}">
                        {{page.category}}</a>{%for tag in page.tags%},
                    <a title="tag" href="{{site.url}}/tags#{{ tag }}" class="tag">#{{ tag }}</a>
                    {% endfor %}

                </div>

                <div class="social-bar">
                    {% include social.html %}
                </div>


                <div id="small-toc">
                </div>
                {{ content }}

                <div class="social-bar">
                    {% include social.html %}
                </div>

                {% include comments.html %}

            </div>

        </div>

    </article>
</div>

<div class="column right sticky">
    <aside class="spacing">


        <div class="display-area sidebar-margin" id="toc-container">

            <div id="toc">

            </div>
        </div>

        <div class="social-sidebar">
            <div class="display-area sidebar-margin">
                {% include social.html %}
            </div>
        </div>


    </aside>

</div>

{% include top.html %}

{% include footer.html %}
