{% include header.html %}

<div class="column left post-left">
    <article class="spacing">

        <div class="display-area">

            <div class="post">
                <h1>{{ page.title }}</h1>
                <div class="meta">{{ page.date | date_to_string }},
                    <a title="Category" href="{{ site.url }}/categories/#{{ page.category | capitalize }}">
                        {{page.category}}
                    </a>,
                    {% for tag in page.tags %}
                    <a title="tag" href="{{site.url}}/tags#{{ tag }}" class="tag">#{{ tag }}</a>
                    {% endfor %}

                </div>

                <div id="small-toc">
                </div>
                {{ content }}
            </div>

        </div>

    </article>
</div>

<div class="column right post-right sticky">
    <aside class="spacing">

        <div class="display-area sidebar-margin toc-container">

            <div id="toc">

            </div>
        </div>

        {% include subscribe.html %}

    </aside>

</div>


{% include footer.html %}
